
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.fan {
  margin: 100px auto;
  -webkit-animation: spin 500ms infinite linear;
}

.fan img {
  max-width: 75%;
}